name: Build release on Windows

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Get Go version from go.mod
        id: go_version
        shell: powershell
        run: |
          $modPath = ".\src\go.mod"
          $line = Get-Content $modPath | Where-Object { $_ -match '^go\s+\d' }
          $version = ($line -split '\s+')[1]
          Write-Output "go_version=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8
          
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ steps.go_version.outputs.go_version }}
          
      - name: Install go-winres
        run: go install github.com/tc-hib/go-winres@latest

      - name: Install dependencies
        working-directory: src
        run: go mod download

      - name: Run Windows build script
        run: .\build.cmd
        
      - name: Upload build outputs
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/**/*.exe
          compression-level: 0
   
  package:
    runs-on: windows-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Download all build artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: build
          merge-multiple: true
          path: build
        
      - name: Install 7-Zip
        run: choco install 7zip -y  

      - name: Create 7z Archive
        id: create-archive
        shell: powershell
        run: |
          $name = "${{ github.repository }}" -split '/' | Select-Object -Last 1
          $archivePath = ".\build\$name.7z"

          $tmp = ".\build\release"
          Remove-Item "$tmp" -Recurse -Force -ErrorAction SilentlyContinue
          New-Item -ItemType Directory -Path "$tmp" | Out-Null
        
          New-Item -ItemType Directory -Path "$tmp\x86" | Out-Null
          Copy-Item ".\build\x86\Release\Launcher.exe" "$tmp\x86" -Force
          Copy-Item ".\dist\launcher.json" "$tmp\x86" -Force
          New-Item -ItemType Directory -Path "$tmp\x64" | Out-Null
          Copy-Item ".\build\x64\Release\Launcher.exe" "$tmp\x64" -Force
          Copy-Item ".\dist\launcher.json" "$tmp\x64" -Force
          New-Item -ItemType Directory -Path "$tmp\lua" | Out-Null
          Copy-Item ".\dist\lua\Examples on GitHub.url" "$tmp\lua" -Force
          Copy-Item ".\example\lua script\" "$tmp\lua" -Recurse -Force
          Copy-Item ".\dist\URL.url" "$tmp" -Force
          Copy-Item ".\README.md" "$tmp" -Force
          Copy-Item ".\LICENSE" "$tmp" -Force

          & "C:\Program Files\7-Zip\7z.exe" a $archivePath "$tmp\*"

          Remove-Item "$tmp" -Recurse -Force

          Write-Output "filepath=$archivePath" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8

      - name: Upload release 
        uses: actions/upload-artifact@v4
        with:
          name: release
          path: ${{ steps.create-archive.outputs.filepath }}
          compression-level: 0